.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 0.8rem 2rem;
    border-bottom: 2px solid #222;
}

.navbar-logo {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
}

.logo-white {
    color: #fff;
}

.logo-blue {
    color: #00bcd4;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar-links a {
    color: #ddd;
    text-decoration: none;
    font-size: 1.1rem;
}

.navbar-links a:hover {
    color: #00bcd4;
}

.navbar-cart {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: #fff;
}

.cart-icon {
    width: 25px;
    height: 25px;
    filter: invert(100%);
}

.cart-count {
    background: #00bcd4;
    padding: 2px 8px;
    border-radius: 12px;
    font-weight: bold;
    color: #111;
}